@media only screen and (max-width: 768px) and (min-width: 320px)
{
    .content .desktop
    {
        display: none;
    }

    .mobile .option
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .mobile .option
    {
        list-style-type: none;
    }
    .mobile .option a
    {
        text-decoration: none;
    }

    .mobile .option .button
    {
        background-color: #9dc20b;
        border-radius: 4px;
        font-size: 20px;
        padding: 3px 8px;
        color: white;
    }

    .main-content .banner
    {
        background-image: url("./banner-landingpage.jpg");
        background-size: cover;
        width: 100%;
        height: 350px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-position-x: -297px;
       
    }

    .main-content .banner .content h2
    {
        color: white;
        font-family: 'Damion', cursive;
        font-weight: 400;
        font-size: 35px;
        text-align: center;
        margin-bottom: 0px;
    }
    .main-content .banner .content h1
    {
        color: white;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 50px;
        text-align: center;
        margin-top: 0px;
    }

    .main-content .banner .email
    {
        display: none;
    }
}