* {
    box-sizing: border-box;
}

body {
    background-color: rgba(210, 218, 255,0.5);
}
.option
{
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 70px;
    padding-left:70px;
    text-transform: uppercase;
    background-color: rgb(177, 178, 255);
    border-radius: 50px;
    text-align: center;
    color: rgb(242, 242, 242);
    margin: 5px;
    font-family: 'Montserrat', sans-serif;
    border-style:solid;
    border-color:rgb(177, 178, 255);
}

.option a {
    color: rgb(242, 242, 242);
    text-decoration: none;
    

}

.option:hover {
    background-color: rgb(253, 235, 243);
    color: rgb(177, 178, 255);
    border-style: solid;
    border-color: rgb(177, 178, 255);
    margin: 5px;
}

.option:hover a{
    color: rgb(177, 178, 255);
    text-decoration: none;
}

.menu {
    width: 100%;
    position: fixed;
    left:0px;
    top: 0px;
    background-color: rgb(177, 178, 255);
}

.newRecipeContainer {
    
    margin-top: 25px;
    background-color: rgb(251, 250, 205);
    width: 55%;
    height: 400px;
    border-radius: 50px;
    margin-left: 330px;
    position: static;
    margin-bottom: 60px;
}

.newRecipeContainer img {
    border-radius: 50px;;
    float:left;
}

.newBlogContainer {
    background-color: rgb(250, 247, 240);
    width: 55%;
    height: 400px;
    border-radius: 50px;
    margin-left: 330px;
}


.title {
    margin-top: 170px;
    margin-left: 300px;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
}



#recipeTitle {
    position: relative;
    top:10px;
    left: 30px;
    font-family: 'Cinzel', serif;
    font-weight: lighter;
    text-decoration:underline;
    text-decoration-thickness: 1px;
    
}

ul {
    position:relative;
    left: 40px;
    padding: 0px 200px;
}